<div class="container-xl">
  <ng-container *ngIf="appState$ | async as appState" [ngSwitch]="appState.dataState">
    <table class="table table-striped table-hover caption-top" id="servers">
      <caption>
        <div class="row bg-danger bg-gradient mt-3 p-3">
          <div class="col-6 text-white fw-bold">Manage Servers</div>
          <div class="col-6 d-flex justify-content-end">
            <select (ngModelChange)="onFilter($event)" ngModel="ALL" class="form-select m-2">
              <option value="ALL">ALL</option>
              <option value="SERVER_UP">SERVER UP</option>
              <option value="SERVER_DOWN">SERVER DOWN</option>
            </select>
            <!-- Button trigger modal serverForm -->
            <button type="button" class="btn btn-success text-nowrap m-2" data-bs-toggle="modal"
              data-bs-target="#serverFormModal">
              <i class="fa fa-solid fa-circle-plus"></i> New Server
            </button>
            <button (click)="printReport()" type="button" class="btn btn-primary text-nowrap m-2">
              Print Report
            </button>
          </div>
        </div>
        <ng-container *ngSwitchCase="DataState.LOADING_STATE">
          <div class="d-flex justify-content-center m-2">
            <div class="spinner-border text-danger"></div>
          </div>
          <hr class="border border-danger" />
        </ng-container>
      </caption>
      <ng-container *ngSwitchCase="DataState.LOADED_STATE">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">IP Address</th>
            <th scope="col">Name</th>
            <th scope="col">Memory</th>
            <th scope="col">Type</th>
            <th scope="col">Status</th>
            <th scope="col">Ping</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let server of appState.appData.data.servers">
            <td>
              <img class="rounded" [src]="server.imageUrl" [alt]="server.name" width="50" height="50" />
            </td>
            <td>{{ server.ipAddress }}</td>
            <td>{{ server.name }}</td>
            <td>{{ server.memmory }}</td>
            <td>{{ server.type }}</td>
            <td>
              <span class="badge" [ngClass]="[
                  server.status === Status.SERVER_UP
                    ? ' bg-success'
                    : ' bg-danger'
                ]">{{
                server.status === Status.SERVER_UP
                ? "SERVER UP"
                : "SERVER DOWN"
                }}</span>
            </td>
            <td>
              <a (click)="onPing(server.ipAddress)" class="cursor-pointer" style="cursor: pointer">
                <i *ngIf="
                    (filterStatus$ | async) === '' ||
                    (filterStatus$ | async) !== server.ipAddress" class="fa fa-regular fa-hand-point-left"
                  title="Ping server"></i>
                <i *ngIf="(filterStatus$ | async) === server.ipAddress" class="fa fa-duotone fa-spinner"></i>
              </a>
            </td>
            <td><i class="fa fa-trash-can fa-spin" style="color: red; cursor: pointer;" (click)="onDelete(server)"></i></td>
          </tr>
        </tbody>
      </ng-container>
    </table>
    <ng-container *ngSwitchCase="DataState.ERROR_STATE">
      <div class="alert alert-danger">
        {{appState.error}}
      </div>
    </ng-container>
  </ng-container>

  <!-- serverFormModal -->
  <div class="modal fade" id="serverFormModal" tabindex="-1" aria-labelledby="serverFormModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form #serverForm="ngForm" (ngSubmit)="onSave(serverForm)">
          <div class="modal-header">
            <h5 class="modal-title" id="serverFormModal">Add Server</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body row g-2">
            <div class="col-md-12">
              <label for="ipAddress" class="form-label">IP</label>
              <input type="text" [class]="['form-control']" id="ipAddress" name="ipAddress" ngModel required>
            </div>
            <div class="col-md-12">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name" ngModel required>
            </div>
            <div class="col-md-6">
              <label for="memmory" class="form-label">Memory</label>
              <input type="text" class="form-control" id="memmory" name="memmory" ngModel required>
            </div>
            <div class="col-md-6">
              <label for="type" class="form-label">Type</label>
              <input type="text" class="form-control" id="type" name="type" ngModel required>
            </div>
            <div class="col-md-12">
              <label for="status" class="form-label">Status</label>
              <select id="status" class="form-select" name="status" ngModel="SERVER_DOWN" required>
                <option value="ALL">ALL</option>
                <option value="SERVER_DOWN">SERVER DOWN</option>
                <option value="SERVER_UP">SERVER UP</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal"
              id="closeModal">Cancel</button>
            <button type="submit" class="btn btn-outline-success"
              [disabled]="serverForm.invalid || (isLoading$ | async)">
              <span *ngIf="isLoading$ | async">
                <i class="fa fa-thin fa-spinner fa-bounce"></i> Saving...
              </span>
              <span *ngIf="!(isLoading$ | async)">
                <i class="fa fa-solid fa-circle-plus"></i> Add
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<notifier-container></notifier-container>